password_gen/bin 
password_gen/include 
password_gen/lib 
password_gen/lib64 
password_gen/pyvenv.cfg

api_calls/venv/
api_calls/.vscode


image-downloader/venv/
auto-file-mover/venv/

auto-movie-sorter/.env
auto-movie-sorter/.env/
auto-movie-sorter/venv/
